google-map {
    text-align: center;
    height: 500px;
    width: 500px;
  }


  #inputs {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 100;
  }

  core-field {
    background: #fff;
    border-radius: 3px;
    margin-top: 5px;
    width: 200px;
  }

  core-field core-icon {
    vertical-align: middle;
  }
